.dialogo-contenedor[b-p73zye9qfm] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton[b-p73zye9qfm]{
    width: max-content;
    margin: auto;
    background-color: #4d617e;
}
.boton:hover[b-p73zye9qfm]{
    background-color: #121121;
    color:#ffff;
}
.dialogo-contenido[b-p73zye9qfm]{
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
